{% extends "pokedex/bootstrap_cdn.html" %} {% block content %} {% load static %} {% load cache %}
{% load pokedex_extras %}

    {% include "pokedex/paginator.html" %}


<div class="card mx-auto">
  <h3 class="card-header">Explore Pokemon below!</h3>
  <div class="card-body p-0">
    <div class="row justify-content-center align-self align-items-end ">

      {% for pokemon in pokemon_list %}
      <div class="card list col-xs-12 col-md-6 col-lg-4 col-xl-3 my-5 pt-5 pb-4 mx-3 rounded shadow-lg">
        {% with p_id=pokemon.id img_str=pokemon.id|pokemon_sprite f_type=pokemon.pokemontypes_set.all.first.type s_type=pokemon.pokemontypes_set.all.last.type %}

        <a href="{% url 'pokedex:pokemon_detail' p_id %}" class="thumbnail" style="text-decoration : none">

          <img class="img-fluid" src="{% static ''|addstr:img_str %}" alt="Image Description" >

          <div class="caption">
            <h3>{{ pokemon.name|title }}</h3>
            <p>#{{ pokemon.get_padded_id }}</p>

            <div>
              </a>

              <a href="{% url 'pokedex:type_detail' f_type.id %}" class="btn btn-primary {{ f_type.name }}" role="button" >{{ f_type.name|title }}</a>
              {% if f_type != s_type %}
              <a href="{% url 'pokedex:type_detail' s_type.id %}" class="btn btn-primary {{ s_type.name }}" role="button" >{{ s_type.name|title }}</a>
              {% endif %}
            </div>
          </div>
      </div>
      {% endwith %} {% endfor %}


    </div>

    {% include "pokedex/paginator.html" %}

  </div>
</div>

{% endblock %}